{% extends "base.html" %}

{% block title%}Chatroom - {{ user }} {% endblock %}

{% block content%}
<style>
    .form button:hover,.form button:active,.form button:focus {
        background: #43A047;
    }
</style>
<div>
    <h2>
        {{ user }} Welcome to chatroom
    </h2>
    <!-- load some local js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/chatroom.js') }}"></script>

    <div class="container">
        <div id="messages" class="overflow-auto msgs" style="overflow-y: scroll; height:500px;">

        </div>

        <div style="bottom:0; margin: 0% 0% 0% 0%;">
            <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Type your message" name="message">
                  <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="send">Send</button>
                  </div>
            </div>
        </div>
    </div>

</div>
{% endblock%}

